{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles.css'%}" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <title>Data Cleaning and Analysis</title>
  </head>
  <body>
    <!--========== SCRIPT ==========-->
    <script type="text/javascript">
      /*==================== SHOW NAVBAR ====================*/
      const showMenu = (headerToggle, navbarId) => {
        const toggleBtn = document.getElementById(headerToggle),
          nav = document.getElementById(navbarId);
        // Validate that variables exist
        if (headerToggle && navbarId) {
          toggleBtn.addEventListener("click", () => {
            // We add the show-menu class to the div tag with the nav__menu class
            nav.classList.toggle("show-menu");
            // change icon
            toggleBtn.classList.toggle("bx-x");
          });
        }
      };
      showMenu("header-toggle", "navbar");

      /*==================== LINK ACTIVE ====================*/
      const linkColor = document.querySelectorAll(".nav__link");
      function colorLink() {
        linkColor.forEach((l) => l.classList.remove("active"));
        this.classList.add("active");
      }
      linkColor.forEach((l) => l.addEventListener("click", colorLink));

      try {
        fetch(
          new Request(
            "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js",
            { method: "HEAD", mode: "no-cors" }
          )
        )
          .then(function (response) {
            return true;
          })
          .catch(function (e) {
            var carbonScript = document.createElement("script");
            carbonScript.src =
              "//cdn.carbonads.com/carbon.js?serve=CE7DC2JW&placement=wwwcssscriptcom";
            carbonScript.id = "_carbonads_js";
            document.getElementById("carbon-block").appendChild(carbonScript);
          });
      } catch (error) {
        console.log(error);
      }

      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-46156385-1", "cssscript.com");
      ga("send", "pageview");

      function openNav() {
        document.getElementById("mySidebar").style.width = "300px";
        document.getElementById("main").style.marginLeft = "300px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
      function myFunction() {
        document.getElementById("mybutton").style.textShadow =
          "5px 5px 4px #010101";
      }

      function afterClick(mybutton) {
        document.getElementById("mybutton").style.textShadow =
          "0px 0px 0px #010101";
      }

      function Upload() {
        var fileUpload = document.getElementById("fileUpload");
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
          if (typeof FileReader != "undefined") {
            var reader = new FileReader();
            reader.onload = function (e) {
              var table = document.createElement("table");
              var rows = e.target.result.split("\n");
              for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].split(",");
                if (cells.length > 1) {
                  var row = table.insertRow(-1);
                  for (var j = 0; j < cells.length; j++) {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = cells[j];
                  }
                }
              }
              var dvCSV = document.getElementById("dvCSV");
              dvCSV.innerHTML = "";
              dvCSV.appendChild(table);
            };
            reader.readAsText(fileUpload.files[0]);
          } else {
            alert("This browser does not support HTML5.");
          }
        } else {
          alert("Please upload a valid CSV file.");
        }
      }
    </script>

    <!--========== HEADER ==========-->
    <header class="header">
      <div class="header__container">
        <a href="#" class="header__logo">Data Cleaning and Analysis</a>

        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
        <div id="main">
          <button
            class="bx bx-columns bx-sm"
            style="
              color: var(--first-color-light);
              background-color: #116466;
              border: none;
              cursor: pointer;
            "
            onclick="openNav()"
          ></button>
        </div>
      </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="#" class="nav__link nav__logo">
            <i class="bx bxs-disc nav__icon"></i>
            <span class="nav__logo-name">Cleaner</span>
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <!--<button
                class="nav__link active nav_button"
                id="mybutton"
                onclick=""
                value=""
                name=""
              >
                <i class="bx bx-upload nav__icon"></i>
                <span class="nav__name">Upload</span>
              </button> -->
              <button
                class="nav__link active nav_button"
                id="mybutton"
                onclick=""
                value="1"
              >
                <i class="bx bx-food-menu nav__icon"></i>
                <span class="nav__name">Describe a table</span>
              </button>

              <div class="nav__dropdown">
                <a
                  href="#"
                  class="nav__link nav_a"
                  id="mybutton"
                  onclick=""
                  value="2"
                >
                  <i class="bx bx-x-circle nav__icon"></i>
                  <span class="nav__name">Remove NULL values</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="nullColRem"
                      value="2.1"
                    >
                      Remove column
                    </button>
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="nullFillMean"
                      value="2.2"
                    >
                      Fill NULL values (with mean)
                    </button>
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="nullFillMedian"
                      value="2.3"
                    >
                      Fill NULL values (with median)
                    </button>
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="nullFillMode"
                      value="2.4"
                    >
                      Fill NULL values (with mode)
                    </button>
                  </div>
                </div>
              </div>
              <div class="nav__dropdown">
                <a
                  href="#"
                  class="nav__link nav_a"
                  id="mybutton"
                  onclick=""
                  value="3"
                >
                  <i class="bx bx-expand-horizontal nav__icon"></i>
                  <span class="nav__name">Encoding categorial data</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="encodeOneHot"
                      value="3.1"
                    >
                      Performing one hot Encoding
                    </button>
                  </div>
                </div>
              </div>
              <div class="nav__dropdown">
                <a
                  href="#"
                  class="nav__link nav_a"
                  id="mybutton"
                  onclick=""
                  value="4"
                >
                  <i class="bx bx-ruler nav__icon"></i>
                  <span class="nav__name">Feature Scaling</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="fsNorm"
                      value="4.1"
                    >
                      Performing Normalization
                    </button>
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="fsStand"
                      value="4.2"
                    >
                      Performing standerdization
                    </button>
                  </div>
                </div>
              </div>

              <div class="nav__dropdown">
                <a
                  href="#"
                  class="nav__link nav_a"
                  id="mybutton"
                  onclick=""
                  value="4"
                >
                  <i class="bx bxl-deezer nav__icon"></i>
                  <span class="nav__name">Feature Importance</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="mybtn"
                      value="4.1"
                    >
                      <a
                        href="{% url 'fmCoefficientMethod' %}"
                        target="_blank"
                        style="text-decoration: none; color: inherit"
                      >
                        Coefficients Method
                      </a>
                    </button>
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="mybtn"
                      value="4.2"
                    >
                      <a
                        href="{% url 'fmTreeMethod' %}"
                        target="_blank"
                        style="text-decoration: none; color: inherit"
                      >
                        Tree Based Model
                      </a>
                    </button>
                    <button
                      class="nav__dropdown-item nav_button_sub"
                      id="mybtn"
                      value="4.2"
                    >
                      <a
                        href="{% url 'fmPCA' %}"
                        target="_blank"
                        style="text-decoration: none; color: inherit"
                      >
                        Principal Component Analysis (PCA)
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="nav__link active nav_button" id="csvDownload">
          <i class="bx bx-download nav__icon"></i>
          <span class="nav__name">Download</span>
        </button>
      </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main>
      <section>
        <div style="margin: 30px auto">
          <div id="carbon-block">
            <div class="content">{% block content %} {% endblock %}</div>
          </div>
        </div>
      </section>
    </main>

    <script>
      $("#nullColRem").on("click", function (event) {
        $.ajax({
          url: "/nullColRem",
          type: "GET",
          success: function (data) {
            //alert("success");
            //console.log(data);
            $("#table").html(data);
          },
        });
      });

      $("#nullFillMean").on("click", function (event) {
        $.ajax({
          url: "/nullFillMean",
          type: "GET",
          success: function (data) {
            //alert("success");
            //console.log(data);
            $("#table").html(data);
          },
        });
      });

      $("#nullFillMedian").on("click", function (event) {
        $.ajax({
          url: "/nullFillMedian",
          type: "GET",
          success: function (data) {
            //alert("success");
            //console.log(data);
            $("#table").html(data);
          },
        });
      });

      $("#nullFillMode").on("click", function (event) {
        $.ajax({
          url: "/nullFillMode",
          type: "GET",
          success: function (data) {
            //alert("success");
            //console.log(data);
            $("#table").html(data);
          },
        });
      });

      $("#encodeOneHot").on("click", function (event) {
        $.ajax({
          url: "/encodeOneHot",
          type: "GET",
          success: function (data) {
            //alert("success");
            //console.log(data);
            $("#table").html(data);
          },
        });
      });

      $("#fsNorm").on("click", function (event) {
        $.ajax({
          url: "/fsNorm",
          type: "GET",
          success: function (data) {
            //alert("success");
            //console.log(data);
            $("#table").html(data);
          },
        });
      });

      $("#fsStand").on("click", function (event) {
        $.ajax({
          url: "/fsStand",
          type: "GET",
          success: function (data) {
            //alert("success");
            //console.log(data);
            $("#table").html(data);
          },
        });
      });

      $("#csvDownload").on("click", function (event) {
        $.ajax({
          url: "/csvDownload",
          type: "GET",
          success: function (data) {
            //alert("success");
            console.log(data);
            //$("#table").html(data);
          },
        });
      });
    </script>
  </body>
</html>
